<div class="container">
  <div class="spinner-border" role="status" *ngIf="isLoading"></div>
  <p *ngIf="isLoading" class="text-center">Cargando, por favor espera...</p>
  <div class="reservations-content" *ngIf="!isLoading && pendingReservation">
    <div class="reservations-table">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Destino</th>
              <th>País</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img [src]="'data:image/jpeg;base64,' + pendingDestination.image" alt="Imagen de {{ pendingDestination.name }}">
              </td>
              <td>{{ pendingDestination.name }}</td>
              <td>{{ pendingDestination.country.name }}</td>
              <td>{{ pendingDestination.description }}</td>
              <td>{{ pendingDestination.price }}€</td>
              <td>
                <button mat-icon-button (click)="deletePendingReservation(pendingReservation.reservationId)" aria-label="Eliminar reserva">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="reservation-details-card">
      <h2>Detalles de la Reserva</h2>
      <p><strong>Fecha Inicial:</strong> {{ pendingReservation.initialDate | date }}</p>
      <p><strong>Fecha Final:</strong> {{ pendingReservation.finalDate | date }}</p>
      <p><strong>Pasajeros:</strong> {{ pendingReservation.passengerCount }}</p>
      <p><strong>Precio Total:</strong> {{ pendingReservation.price }}€</p>
      <div #paymentRef></div>
    </div>
  </div>
  
  <div *ngIf="!isLoading && !pendingReservation" class="no-reservations">
    <h1>No hay reservas pendientes</h1>
  </div>
</div>
