<div class="container">
    <h2>Nuevo Comentario</h2>
    <form #commentForm="ngForm" (ngSubmit)="submit()" novalidate>
        <mat-dialog-content>
            <div class="form-group">
                <label for="newComment">Ingrese su comentario</label>
                <textarea [(ngModel)]="newReview.comment" name="newComment" id="newComment" required></textarea>
                <div class="error-message" *ngIf="commentForm && commentForm.controls['newComment'] && commentForm.controls['newComment'].invalid && (commentForm.controls['newComment'].dirty || commentForm.controls['newComment'].touched)">
                    Debe escribir un comentario
                </div>                
            </div>
            
            <div class="rating-stars">
                <span class="star" *ngFor="let star of stars" (click)="setRating($event, star)">
                    <mat-icon *ngIf="!isSelected(star) && isHalfStar(star)" style="color: #001d96;">star_half</mat-icon>
                    <mat-icon *ngIf="isSelected(star) && !isHalfStar(star)" style="color: #001d96;">star</mat-icon>
                    <mat-icon *ngIf="!isSelected(star) && !isHalfStar(star)" style="color: #001d96;">star_border</mat-icon>
                </span>
            </div>
            
            <div class="error-message" *ngIf="commentForm && commentForm.controls['newComment'] && selectedValue === 0 && (commentForm.controls['newComment'].dirty || commentForm.controls['newComment'].touched)">
                Debe seleccionar una valoración.
            </div>
            
        </mat-dialog-content>
        <mat-dialog-actions>
            <button type="submit" [disabled]="!commentForm.valid" class="book-button">Enviar</button>
            <button type="button" (click)="close()" class="cancel-button">Cancelar</button>
        </mat-dialog-actions>
    </form>
</div>
