<div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4 accommodations" *ngFor="let accommodation of accommodations">
        <div class="card" (click)="navigateToDetailFlight(accommodation.accommodationId)">
          <img class="card-img-top" [src]="accommodation.imagen" [alt]="accommodation.nombre">
          <div class="card-overlay"></div> <!-- Overlay para efecto de superposición -->
          <div class="card-content">
            <h5 class="card-title">{{ accommodation.nombre }}</h5>
            <p class="card-text">Precio: {{ accommodation.precio }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
