<div class="user-profile">
    <div class="profile-header">
        <h1>Perfil de Usuario</h1>
    </div>
    <div class="profile-body">
        <div class="user-info">
            <div class="profile-picture">
                <img class="img-fluid" src="../../../../assets/profile.png" alt="Profile image">
            </div>
            <div class="user-details">
                <h2>{{currentUser.name}}</h2>
                <p>{{currentUser.email}}</p>
                <button class="btn btn-primary book-button" (click)="openEditProfileDialog()">Editar perfil</button>
            </div>
        </div>
        <div class="booking-history">
            <h2>Historial de Reservas</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha de Reserva</th>
                            <th>Nombre del Destino</th>
                            <th>País del Destino</th>
                            <th>Precio Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paidReservation of paidReservations">
                            <td>{{ paidReservation.reservationDate | date }}</td>
                            <td>{{ paidDestination.name }}</td>
                            <td>{{ paidDestination.country.name }}</td>
                            <td>{{ paidReservation.price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
