@import '../../../../assets/variables.scss';

.custom-navbar {
  background-color: $darkblue;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;

  .navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
    color: $lightblue;
    text-decoration: none;
    display: flex;
    align-items: center;

    img {
      width: 60px;
      margin-right: 10px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    &:hover {
      color: lighten($lightblue, 20%);
    }
  }

  .nav-link {
    color: $lightblue;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    font-size: 1.3em;

    &:hover {
      color: lighten($lightblue, 20%);
    }

    &.active {
      font-weight: bold;
    }
  }

  .navbar-toggler {
    border-color: $lightblue;
    color: $lightblue;
    padding: 0.25rem 0.5rem;

    &:hover, &:focus {
      color: lighten($lightblue, 20%);
      outline: none;
      box-shadow: none;
    }
  }

  .navbar-toggler-icon {
    background-image: none;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;

    &::before {
      content: "\2630"; // Unicode character for "trigram for heaven" (☰)
      font-size: 1.5rem;
      line-height: 1;
      color: $lightblue;
    }
  }

  .navbar-mobile-actions {
    display: flex;
    align-items: center;
  }

  .mobile-cart-icon {
    display: none;
  }

  @media (max-width: 991px) {
    .navbar-mobile-actions {
      .mobile-cart-icon {
        display: flex;
        align-items: center;
        margin-right: 15px;
        color: $lightblue;
      }
    }

    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $darkblue;
      padding: 1rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }

    .navbar-nav {
      flex-direction: column;
    }

    .nav-item {
      margin-bottom: 0.5rem;
    }

    .nav-link {
      padding: 0.5rem 0;
    }
  }
}

