/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '../src/assets/variables.scss';

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    background-color: $lightblue;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


